<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>SesionUsuario</servlet-name>
        <servlet-class>com.controlador.SesionUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcesarPersona</servlet-name>
        <servlet-class>com.controlador.ProcesarPersona</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcesarPartido</servlet-name>
        <servlet-class>com.controlador.ProcesarPartido</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcesarMunicipio</servlet-name>
        <servlet-class>com.controlador.ProcesarMunicipio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcesarDepartamento</servlet-name>
        <servlet-class>com.controlador.ProcesarDepartamento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcesarContrasenia</servlet-name>
        <servlet-class>com.controlador.ProcesarContrasenia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcesarUsuario</servlet-name>
        <servlet-class>com.controlador.ProcesarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcesarResultado</servlet-name>
        <servlet-class>com.controlador.ProcesarResultado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcesarCandidato</servlet-name>
        <servlet-class>com.controlador.ProcesarCandidato</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SesionCiudadano</servlet-name>
        <servlet-class>com.controlador.SesionCiudadano</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcCandidato</servlet-name>
        <servlet-class>com.controlador.ProcCandidato</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcPartido</servlet-name>
        <servlet-class>com.controlador.ProcPartido</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcUsuario</servlet-name>
        <servlet-class>com.controlador.ProcUsuario</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SesionUsuario</servlet-name>
        <url-pattern>/sesionUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcesarPersona</servlet-name>
        <url-pattern>/procesarPersona</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcesarPartido</servlet-name>
        <url-pattern>/ProcesarPartido</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcesarMunicipio</servlet-name>
        <url-pattern>/procesarMunicipio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcesarDepartamento</servlet-name>
        <url-pattern>/procesarDepartamento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcesarContrasenia</servlet-name>
        <url-pattern>/procesarContrasenia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcesarUsuario</servlet-name>
        <url-pattern>/procesarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcesarResultado</servlet-name>
        <url-pattern>/procesarResultado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcesarCandidato</servlet-name>
        <url-pattern>/procesarCandidato</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SesionCiudadano</servlet-name>
        <url-pattern>/sesionCiudadano</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcCandidato</servlet-name>
        <url-pattern>/procCandidato</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcPartido</servlet-name>
        <url-pattern>/procPartido</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcUsuario</servlet-name>
        <url-pattern>/procUsuario</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
